/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
 */


.loginPage {
  background-image: url("../../../assets/pic5.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.loginFormWrapper {
  width: 100%;
  max-width: 420px;
  display: flex;
  justify-content: center;
}

.loginBox {
  width: 100%;
  min-height: 60vh;
  padding: 20px;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 10px;
}

.loginHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
  text-align: center;
}

.loginLogo {
       width: 53%;
    height: auto;
    margin-bottom: 13px;
}

.loginTitle {
  color:#fbaf1b;
  font-size: 24px;
  margin: 0;
  font-weight: bold;
}

.loginField {
  position: relative;
  margin-bottom: 20px;
}

.loginInput {
  width: 100%;
  height: 45px;
  padding-left: 42px;
  border: none;
  background: rgba(240, 240, 240, 0.89);
  outline: none;
  color: #000;
  font-size: 14px;
  border-radius: 5px;
}

.loginInput::placeholder {
  color: #0d0d0d;
}

.loginInput:focus::placeholder {
  transform: translateY(-18px);
  color: #999;
  transition: all 0.3s ease;
}

.loginIcon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  color: #601f2f;
  font-size: 18px;
}

.togglePasswordIcon {
  position: absolute;
  top: 50%;
  right: 14px;
  transform: translateY(-50%);
  cursor: pointer;
  color: #601f2f;
  font-size: 18px;
}

.loginSubmit {
  width: 100%;
  height: 45px;
  background-color: #601f2f;
  color: white;
  border: none;
  font-size: 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.loginSubmit:hover {
  transform: translateY(4px);
  box-shadow: 1px 5px 7px 1px #D83B2D;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
  .loginBox {
    padding: 15px;
  }

  .loginContainer {
    padding: 0 5px;
  }

  .loginLogo {
    max-width: 200px;
  }

  .loginTitle {
    font-size: 22px;
  }
}

@media screen and (max-width: 480px) {
  .loginBox {
    width: 100%;
    min-height: auto;
  }

  .loginTitle {
    font-size: 20px;
  }

  .loginSubmit {
    font-size: 14px;
  }
}
