/* .custom-footer {
  background-color: #601f21;
  color: #601f21;
  padding: 40px 0 20px;
  font-family: 'Segoe UI', sans-serif;
}

.footer-col h5 {
  font-weight: 600;
  margin-bottom: 15px;
  color: #231f20;
}

.footer-desc {
  font-size: 14px;
  color: #601f21;
}

.footer-links,
.footer-contact {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-links li,
.footer-contact li {
  margin-bottom: 10px;
  font-size: 15px;
}

.footer-links a {
  color: #601f21;
  text-decoration: none;
  display: flex;
  align-items: center;
  transition: color 0.3s;
}

.footer-links a:hover {
  color: #231f20;
  text-decoration: underline;
}

.footer-icon {
  margin-right: 8px;
  color: #231f20;
  font-size: 16px;
}

.footer-logo {
  width: 160px;
  margin-bottom: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.social-icons {
  display: flex;
  gap: 12px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.social-icons a {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #aa4909;
  color: #fff;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  font-size: 18px;
  transition: all 0.3s ease;
}


.social-icons a:nth-child(1):hover {
  background-color: #1877F2;
}


.social-icons a:nth-child(2):hover {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  color: white;
}


.social-icons a:nth-child(3):hover {
  background-color: #1DA1F2;
}


.social-icons a:nth-child(4):hover {
  background-color: #FF0000;
}

.footer-divider {
  border-top: 1px solid #ddd;
  margin: 30px 0 20px;
}

.footer-copy,
.footer-made {
  font-size: 14px;
  color: #666;
  margin: 0;
}

@media (max-width: 767px) {
  .footer-top {
    text-align: center;
  }

  .footer-col {
    margin-bottom: 30px;
  }

  .footer-logo {
    margin: 0 auto 15px;
    display: block;
  }

  .social-icons {
    justify-content: center;
  }

  .footer-links a,
  .footer-contact li {
    justify-content: center;
  }

  .footer-copy,
  .footer-made {
    text-align: center;
  }
} */
