.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #fef6f2;
}

.login-card {
  display: flex;
  width: 800px;
  height: 500px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0px 6px 24px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.login-image-section {
  width: 50%;
  height: 100%;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-logo {
  width: 350px;
  height: 250px;
  z-index: 1;
  opacity: 0.95;
  border-radius: 8px;
}

.login-form-section {
  width: 50%;
  padding: 40px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  max-width: 350px;
}

.login-form label {
  font-weight: bold;
  color: #4a372f;
  text-align: left;
}

.login-form input {
  padding: 12px 10px;
  border: 1px solid #f0dbcc;
  border-radius: 8px;
  background-color: #fdf5f1;
  font-size: 14px;
  width: 100%;
}

.login-btn {
  background-color: #cc4b00;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
}

.login-btn:hover {
  background-color: #b23d00;
}

.login-footer {
  margin-top: 20px;
  font-size: 14px;
  text-align: center;
  color: #663300;
}

.login-footer a {
  color: #cc4b00;
  text-decoration: none;
  font-weight: bold;
}

.login-footer a:hover {
  text-decoration: underline;
}

.password-input-container {
  position: relative;
  display: flex;
  align-items: center;
}

.password-input-container input {
  width: 100%;
  padding-right: 40px;
}

.password-toggle {
  position: absolute;
  right: 12px;
  top: 35%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #666;
 
}
