.customer-login-page {
  background-image: url("../../../assets/woman.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.customer-login-form-wrapper {
  width: 100%;
  max-width: 420px;
  display: flex;
  justify-content: center;
}

.customer-login-box {
  width: 100%;
  min-height: 60vh;
  padding: 20px;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  display: flex;
  align-items: center;
  justify-content: center;
}

.customer-login-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 10px;
}

.customer-login-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
  text-align: center;
}

.customer-login-logo {
     width: 53%;
    height: auto;
    margin-bottom: 13px;
}

.customer-login-title {
  color: #fbaf1b;
  font-size: 24px;
  margin: 0;
  font-weight: bold;
}

.customer-login-field {
  position: relative;
  margin-bottom: 20px;
}

.customer-login-input {
  width: 100%;
  height: 45px;
  padding-left: 42px;
  border: none;
  background: rgba(240, 240, 240, 0.89);
  outline: none;
  color: #000;
  font-size: 14px;
  border-radius: 5px;
}

.customer-login-input::placeholder {
  color: #0d0d0d;
}

.customer-login-input:focus::placeholder {
  transform: translateY(-18px);
  color: #999;
  transition: all 0.3s ease;
}

.customer-login-icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  color: #601f2f;
  font-size: 18px;
}

.customer-toggle-password-icon {
  position: absolute;
  top: 50%;
  right: 14px;
  transform: translateY(-50%);
  cursor: pointer;
  color: #601f2f;
  font-size: 18px;
}

.customer-login-submit {
  width: 100%;
  height: 45px;
  background-color: #601f2f;
  color: white;
  border: none;
  font-size: 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.customer-login-submit:hover {
  transform: translateY(4px);
  box-shadow: 1px 5px 7px 1px #D83B2D;
}


.customer-google-button {
  width: 100%;
  padding: 10px;
  background-color: white;
  color: #601f2f;
  border: 2px solid #601f2f;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  transition: 0.3s ease;
}

.customer-google-button:hover {
  background-color: #601f2f;
  color: white;
}




@media screen and (max-width: 768px) {
  .customer-login-box {
    padding: 15px;
  }

  .customer-login-container {
    padding: 0 5px;
  }

  .customer-login-logo {
    max-width: 200px;
  }

  .customer-login-title {
    font-size: 22px;
  }
}

@media screen and (max-width: 480px) {
  .customer-login-box {
    width: 100%;
    min-height: auto;
  }

  .customer-login-title {
    font-size: 20px;
  }

  .customer-login-submit {
    font-size: 14px;
  }
} 


.customer-login-footer {
  margin-top: 25px;
  text-align: center;
}

.customer-login-footer p {
  font-size: 14px;
  color: #fff;
  line-height: 1.6;
}

.customer-login-link {
  /* color: #601f2f; */
  color:#98cb4f;
  font-weight: 600;
  text-decoration: none;
  padding: 0 5px;
  transition: color 0.3s ease, text-decoration 0.3s ease;
 
}

.customer-login-link:hover {
  color: #27bdbe;
  text-decoration: underline;
}
