body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.card {
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
}

.card-header {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 1rem; /* Decreased padding */
}

.card-body {
  padding: 1rem; /* Decreased padding */
}

h4 {
  position: relative;
  padding-bottom: 0.25rem; /* Decreased padding */
  margin-top: 1rem; /* Decreased margin */
}



.btn-danger {
  transition: background-color 0.3s ease;
}

.btn-danger:hover {
  background-color: #c82333;
}
