body {
  margin: 0;
  background-color: #fef6f2;
  font-family: Arial, sans-serif;
}

.forgot-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fef6f2;
  height: 100vh;
}

.forgot-box {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 6px 24px rgba(0, 0, 0, 0.1);
  padding: 20px 20px;
  max-width: 450px;
  width: 100%;
  text-align: center;
}

.forgot-box h2 {
  margin-bottom: 10px;
  color: #752f00;
}

.subtext {
  margin-bottom: 30px;
  color: #4a372f;
  font-size: 14px;
}

.forgot-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.forgot-form label {
  text-align: left;
  font-weight: bold;
  font-size: 14px;
  color: #4a372f;
}

.forgot-form input {
  padding: 12px 10px;
  border: 1px solid #f0dbcc;
  border-radius: 8px;
  background-color: #fdf5f1;
  font-size: 14px;
}

.forgot-btn {
  background-color: #cc4b00;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

.forgot-btn:hover {
  background-color: #b23d00;
}

.forgot-footer {
  margin-top: 20px;
  font-size: 14px;
  color: #663300;
}

.forgot-footer a {
  color: #cc4b00;
  text-decoration: none;
  font-weight: bold;
}

.forgot-footer a:hover {
  text-decoration: underline;
}
