.scroll-up-btn {
position: fixed;
    bottom: 50px;
    right: 0px;
    background-color: #601f2f;
    color: white;
   border: 2px solid white; /* Added white border */
    border-radius: 64%;
    padding: 7px 16px;
    font-size: 22px;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.4s ease, visibility 0.4s ease;
    z-index: 1000;
}

.scroll-up-btn:hover {
  background-color: #601f2f;
}

.scroll-up-btn.show {
  opacity: 1;
  visibility: visible;
}
