
.signup-wrapper {
  /* min-height: 100vh; */
  display: flex;
  justify-content: center;
  padding-top: 20px;
  background-color: #fff6f0;
}

.signup-box {
  background-color: #fff;
  padding: 40px 30px;
  border-radius: 10px;
  box-shadow: 0px 6px 24px rgba(0, 0, 0, 0.1);
  max-width: 450px;
  width: 100%;
  text-align: center;
}

.signup-title {
  font-size: 24px;
  font-weight: bold;
  color: #5a2600;
  margin-bottom: 10px;
}

.signup-subtext {
  font-size: 14px;
  color: #b35000;
  margin-bottom: 30px;
}

.signup-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.signup-form label {
  text-align: left;
  font-weight: bold;
  font-size: 14px;
  color: #4a372f;
}

.signup-form input {
  padding: 12px;
  border: 1px solid #f0dbcc;
  border-radius: 8px;
  background-color: #fdf3ec;
  font-size: 14px;
  width: 370px;
}

.signup-btn {
  background-color: #d94c00;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

.signup-btn:hover {
  background-color: #b53e00;
}

.signup-footer {
  margin-top: 20px;
  font-size: 14px;
  color: #663300;
}

.signup-footer a {
  color: #d94c00;
  text-decoration: none;
  font-weight: bold;
}

.signup-footer a:hover {
  text-decoration: underline;
}
