.aprofilecard1 {
    border-radius: 12px;
    max-width: 600px;
    max-width: 66%;
    margin-left: 17%;
}

.aprofilecard2 {
    border-radius: 12px;
    max-width: 600px;
    max-width: 66%;
    margin-left: 17%;
}

@media (min-width: 768px) and (max-width: 1023px) {

    .aprofilecard1 {
        border-radius: 12px;
        max-width: 600px;
        max-width: 90%;
        margin-left: 5%;
    }

    .aprofilecard2 {
        border-radius: 12px;
        max-width: 600px;
        max-width: 100%;
        margin-left: 0%;
    }

}

@media (max-width: 767px) {
    .aprofilecard1 {
        border-radius: 12px;
        max-width: 600px;
        max-width: 100%;
        margin-left: 0%;
    }

    .aprofilecard2 {
        border-radius: 12px;
        max-width: 600px;
        max-width: 100%;
        margin-left: 0%;
    }

    /* .aprofileaddress{
    display: flex;
    flex-direction: column;
    gap: 20px;
} */

}